$bg: linear-gradient(45deg, #00b894, #0984e3);
$ft: linear-gradient(200deg, #00b894, #0984e3);
$wh: white;
$text: #0985E2;
$widget-icon: #9DE34C;
$widget-bg: rgb(32, 106, 139);
$status-bg:  rgba($color: #fff, $alpha: 0.25);
$msg: #2a302d;